.kaufman__triangle {
    background-size: cover;
    background-image: url("file:///C:/Users/karsa/front/first_yandex_sait/image/kaufman-triangle.svg");
    position: absolute;
    height: 877px;
    width: 877px;
    right: -210px;
  }