.logo__place_footer {
    height: 32px;
    width: 228px;
    display: flex;
    position: absolute;
    background-image: url("file:///C:/Users/karsa/front/first_yandex_sait/image/logo_place_footer.svg");
    z-index: 1;
  }