.footer__column-link_text {
    display: flex;
    text-underline-position: under;
    text-decoration: none;
    line-height: 30px;
    font-size: 16px;
    font-weight: normal;
    margin: 0 auto;
    color: white;
  }